      <section class="content-header">
        <h1>
          All Restaurants
          <a (click)="toogleSearch()" class="search-link pull-right">
            <span *ngIf="iptSearch.value"><small>"{{iptSearch.value}}"</small></span> <i class="fa fa-search"></i>
          </a>
        </h1>

        <!-- search bar -->
        <div class="row">
          <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
            <form [formGroup]="searchForm">
              <div class="form-group">
                <input type="text" formControlName="searchControl" #iptSearch class="form-control" placeholder="What are you looking for?">
              </div>
            </form>
          </div>
        </div>

      </section>


      <section class="content">

        <div class="row">
          <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
            <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
          </div>
          <div *ngIf="restaurants?.length === 0" class="col-xs-12">
            <p class="lead text-center">
              We couldn't find any restaurants for your search. =(
            </p>
          </div>
        </div>

      </section>
