      <section class="content-header">
      </section>

      <section class="content">
        <section class="invoice">

              <!-- using "novalidate" because each browser has its own validation methods -->
              <!-- "orderForm" comes from ts file -->
              <form [formGroup]="orderForm" novalidate>
                <div class="row">
                  <div class="col-xs-12">
                    <h2 class="page-header">
                      <i class="fa fa-shopping-cart"></i> Checkout & Order
                    </h2>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-9">
                    <p class="lead">Your Details:</p>
                  </div>
                  <div class="col-xs-12 col-sm-3">
                    <span class="help-block pull-right has-error-block" *ngIf="orderForm.hasError('emailsNotMatch')"><i class="fa fa-remove"></i> Email confirmation does not match!</span>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container errorMessage="Minimum 3 characters" label="Name">
                      <input type="text" class="form-control" formControlName="name" placeholder="Name" autocomplete="off">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container errorMessage="Invalid email" label="Email">
                      <input type="text" class="form-control" formControlName="email" placeholder="Email" autocomplete="off">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container errorMessage="Invalid email" label="Confirm email">
                      <input type="text" class="form-control" formControlName="emailConfirmation" placeholder="Confirm email" autocomplete="off">
                    </mt-input-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Delivery Address:</p>
                  </div>
                  <div class="col-sm-6 col-xs-12">
                    <mt-input-container errorMessage="Minimum 5 characters" label="Address">
                      <input type="text" class="form-control" formControlName="address" placeholder="Address" autocomplete="off">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container errorMessage="Mandatory field and numbers only" label="Number">
                      <input type="text" class="form-control" formControlName="number" placeholder="Number" autocomplete="off">
                    </mt-input-container>
                  </div>
                  <div class="col-sm-3 col-xs-6">
                    <mt-input-container label="Additional details">
                      <input type="text" class="form-control" formControlName="optionalAddress" placeholder="Additional details" autocomplete="off">
                    </mt-input-container>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                  <div class="col-xs-12">
                    <p class="lead">Order Items:</p>
                  </div>

                  <mt-order-items [items]="cartItems()"
                    (increaseQty)="increaseQty($event)"
                    (decreaseQty)="decreaseQty($event)"
                    (remove)="remove($event)">
                  </mt-order-items>

                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <!-- accepted payments column -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Payment Options:</p>

                      <div class="form-group">
                        <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
                      </div>

                  </div>
                  <!-- /.col -->
                  <div class="col-sm-6 col-xs-12">
                    <p class="lead">Delivery and Total:</p>

                    <mt-delivery-costs
                      [delivery]="delivery"
                      [itemsValue]="itemsValue()">
                    </mt-delivery-costs>

                  </div>
                  <!-- /.col -->
                </div>

              </form>

              <div class="row">
                <div class="col-xs-12">
                  <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-right"
                  [disabled]="!orderForm.valid || cartItems().length === 0">
                  <i class="fa fa-credit-card"></i> Finish Order
                  </button>
                </div>
              </div>

          </section>
      </section>
